In [2]:
import pandas as pd
import os
import numpy as np
import requests
import geopandas as gpd 
from shapely.geometry import Point

In [4]:
def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

def distance_m(mercator_start, mercator_finish):
    return mercator_start.distance(mercator_finish)


def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

In [5]:
#colegios_publicos_data = pd.read_csv("../data/colegios-publicos.csv", sep =';')
#escuelas_infantiles_data = pd.read_csv ("../data/escuelas-infantiles.csv", sep =';')
bicimad_data = pd.read_json("../data/bicimad.json")

In [6]:
os.listdir("../data")

['.DS_Store',
 'bicimad.json',
 'colegios-publicos.csv',
 'escuelas-infantiles.csv']

In [7]:
# Opción 2 : Extrayendo info de la API de colegios_publicos_data

colegios_publicos_data = requests.get('https://datos.madrid.es/egob/catalogo/202311-0-colegios-publicos.json')
colegios_publicos_data = colegios_publicos_data.json()

escuelas_infantiles_data = requests.get('https://datos.madrid.es/egob/catalogo/202318-0-escuelas-infantiles.json')
escuelas_infantiles_data = escuelas_infantiles_data.json()

bicimad_data = pd.read_json("../data/bicimad.json")

In [8]:
# Normalizamos el Json para obtener los datos de la tabla
colegios_publicos_data = pd.json_normalize(colegios_publicos_data['@graph'])

In [9]:
# Normalizamos el Json para obtener los datos de la tabla
escuelas_infantiles_data = pd.json_normalize(escuelas_infantiles_data['@graph'])

In [10]:
bicimad_data.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry_type,geometry_coordinates
0,1,Puerta del Sol A,2,1a,Puerta del Sol nº 1,1,0,30,15,11,0,Point,"[-3.7018341, 40.4172137]"
1,2,Puerta del Sol B,1,1b,Puerta del Sol nº 1,1,0,30,22,4,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,Miguel Moya,2,2,Calle Miguel Moya nº 1,1,0,24,12,11,0,Point,"[-3.7058415, 40.4205886]"
3,4,Plaza Conde Suchil,0,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,4,11,0,Point,"[-3.7069171, 40.4302937]"
4,5,Malasaña,2,4,Calle Manuela Malasaña nº 5,1,0,24,12,12,0,Point,"[-3.7025875, 40.4285524]"

In [11]:
escuelas_infantiles_data.head()

,@id,@type,id,title,relation,address.district.@id,address.area.@id,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,organization.organization-desc,organization.accesibility,organization.schedule,organization.services,organization.organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,58241,Escuela infantil municipal Agua Dulce,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28039,CALLE LEÑEROS 25,40.454061,-3.709371,ENSEÑANZA: Educación Infantil (Primer Ciclo) ...,0,,Horario ampliado. Comedor.,Escuela infantil municipal Agua Dulce
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4549323,Escuela infantil municipal Altair,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28044,CALLE JOSE DE CADALSO 43,40.378132,-3.768701,ENSEÑANZA: Educación infantil (Primer ciclo) ...,0,,,Escuela infantil municipal Altair
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5299172,Escuela infantil municipal Amanecer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28032,CALLE TITANIO 7,40.401990,-3.601044,ENSEÑANZA: Educación infantil (Primer Ciclo)....,0,,,Escuela infantil municipal Amanecer
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5633312,Escuela infantil municipal Ana de Austria,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28050,CALLE ANA DE AUSTRIA 32,40.495522,-3.655737,ENSEÑANZA: Educación infantil (Primer ciclo) ...,0,,Educación de 0 a 3 años,Escuela infantil municipal Ana de Austria
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4724002,Escuela infantil municipal Campanilla,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28020,CALLE AVILA 4,40.452700,-3.701998,ENSEÑANZA: Educación infantil (Primer Ciclo) ...,0,,,Escuela infantil municipal Campanilla

In [12]:
colegios_publicos_data.head()

,@id,@type,id,title,relation,address.district.@id,address.area.@id,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,organization.organization-desc,organization.accesibility,organization.schedule,organization.services,organization.organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,176850,Colegio Público Adolfo Suárez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28050,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,ENSEÑANZAS: Segundo ciclo de E. Infantil - Pr...,0,,Comedor - Horario ampliado - Planes de mejora.,Colegio Público Adolfo Suárez
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5075,Colegio Público Agustina Díez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28038,CALLE VESUBIO 5,40.388191,-3.647237,ENSEÑANZA: Educación infantil - Primaria METR...,0,,Comedor - Horario ampliado,Colegio Público Agustina Díez
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4693138,Colegio Público Agustín Rodriguez Sahagún,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28031,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,ENSEÑANZA: Educacion Infantil - Primaria - En...,0,,Horario ampliado - Comedor - Planes de mejora,Colegio Público Agustín Rodriguez Sahagún
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5076,Colegio Público Alberto Alcocer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28022,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,ENSEÑANZA: Educación Infantil - Primaria - En...,0,,Comedor - Transporte - Horario ampliado - Plan...,Colegio Público Alberto Alcocer
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5077,Colegio Público Alcalde de Móstoles,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28044,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,ENSEÑANZA: Educación Infantil - Primaria BUS:...,0,,Transporte - Comedor - Horario ampliado - Plan...,Colegio Público Alcalde de Móstoles

In [13]:
#Eliminamos columnas de Escuela infantiles:

escuelas_infantiles_data = escuelas_infantiles_data.drop(columns=["@id","@type","id","relation","address.district.@id","address.area.@id","address.locality","address.postal-code","organization.organization-desc","organization.accesibility","organization.schedule","organization.services","organization.organization-name"])
# "@id","@type","id","title","relation","address.district.@id","address.area.@id","address.locality","address.postal-code","address.street-address","location.latitude","location.longitude","organization.organization-desc","organization.accesibility","organization.schedule","organization.services","organization.organization-name"
escuelas_infantiles_data.head()

,title,address.street-address,location.latitude,location.longitude
0,Escuela infantil municipal Agua Dulce,CALLE LEÑEROS 25,40.454061,-3.709371
1,Escuela infantil municipal Altair,CALLE JOSE DE CADALSO 43,40.378132,-3.768701
2,Escuela infantil municipal Amanecer,CALLE TITANIO 7,40.401990,-3.601044
3,Escuela infantil municipal Ana de Austria,CALLE ANA DE AUSTRIA 32,40.495522,-3.655737
4,Escuela infantil municipal Campanilla,CALLE AVILA 4,40.452700,-3.701998

In [14]:
#Eliminamos columnas de colegios_publicos_data:

colegios_publicos_data = colegios_publicos_data.drop(columns=["@id","@type","id","relation","address.district.@id","address.area.@id","address.locality","address.postal-code","organization.organization-desc","organization.accesibility","organization.schedule","organization.services","organization.organization-name"])
#Comprobamos que no existan nulos:
colegios_publicos_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   248 non-null    object
 1   address.street-address  248 non-null    object
 2   location.latitude       248 non-null    float64
 3   location.longitude      248 non-null    float64
dtypes: float64(2), object(2)
memory usage: 7.9+ KB

In [15]:
colegios_publicos_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   248 non-null    object
 1   address.street-address  248 non-null    object
 2   location.latitude       248 non-null    float64
 3   location.longitude      248 non-null    float64
dtypes: float64(2), object(2)
memory usage: 7.9+ KB

In [16]:
# incluimos las columnas con la source en ambos dataset:
colegios_publicos_data = colegios_publicos_data.assign(Tipo_Centro = "Colegios Publicos")
escuelas_infantiles_data =escuelas_infantiles_data.assign(Tipo_Centro = "Escuelas Infantiles")
## colegios_publicos_data ["Tipo_Centro"] = "Colegios Publicos"
## escuelas_infantiles_data =["Tipo_Centro"] = "Escuelas Infantiles"

In [17]:
colegios_publicos_data.head()

,title,address.street-address,location.latitude,location.longitude,Tipo_Centro
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios Publicos
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegios Publicos
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegios Publicos
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegios Publicos
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegios Publicos

In [18]:
#Ahora queremos crear un solo dataset para todos los datos del ayuntamiento:
ayuntamiento_data= pd.concat([colegios_publicos_data, escuelas_infantiles_data], axis=0)
ayuntamiento_data.head()
#Comprobaciones:
#len_data = len (ayuntamiento_data)
#len_colegios = len (colegios_publicos_data)
#len_escuelas =len (escuelas_infantiles_data)

,title,address.street-address,location.latitude,location.longitude,Tipo_Centro
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios Publicos
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegios Publicos
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegios Publicos
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegios Publicos
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegios Publicos

In [19]:
#Vamos a poner los datos de las direcciones en minusculas. 

ayuntamiento_data['address.street-address']=ayuntamiento_data['address.street-address'].str.title()

ayuntamiento_data.head()

,title,address.street-address,location.latitude,location.longitude,Tipo_Centro
0,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,40.488603,-3.652554,Colegios Publicos
1,Colegio Público Agustina Díez,Calle Vesubio 5,40.388191,-3.647237,Colegios Publicos
2,Colegio Público Agustín Rodriguez Sahagún,Calle La Granja De San Ildefonso 17,40.368040,-3.622168,Colegios Publicos
3,Colegio Público Alberto Alcocer,Avenida Canillejas A Vicalvaro 56,40.433338,-3.612052,Colegios Publicos
4,Colegio Público Alcalde de Móstoles,Calle Aldeanueva De La Vera 9,40.379837,-3.776448,Colegios Publicos

In [20]:
## NO NECESARIO CON API ##

# Ahora vamos a sustituir los valore NaN por 
# ayuntamiento_data['location.latitude'] = ayuntamiento_data['location.latitude'].replace(np.nan,"S/N")

In [21]:
## NO NECESARIO CON API ##

#Ahora queremos añadir una columna con los datos de NOMBRE-VIA, CLASE-VIAL y NUM.
## ayuntamiento_data["Place_address"] = ayuntamiento_data["CLASE-VIAL"] +" "+ ayuntamiento_data['NOMBRE-VIA']  + ", "+ ayuntamiento_data["NUM"].astype(str)

In [22]:
# Limpiamos dataset bicimad: 
# Eliminamos las columnas ['light',"number","activate","no_available","total_bases", "dock_bikes","free_bases","reservations_count","geometry_type"

bicimad_data = bicimad_data.drop(columns=['id','light',"number","activate","no_available","total_bases", "dock_bikes","free_bases","reservations_count","geometry_type"])

In [23]:
## Separamos la columna geometry_coordinates

#bicimad_data = bicimad_data["geometry_coordinates"].str.split()
#bicimad_data


bicimad_data['LONGITUD']=bicimad_data['geometry_coordinates'].map(lambda x:x.split(',')[0].replace("[","")).astype(float)
bicimad_data['LATITUD']=bicimad_data['geometry_coordinates'].map(lambda x:x.split(',')[1].replace("]","")).astype(float)

In [24]:
#Eliminamos Geometry_coordinates

bicimad_data = bicimad_data.drop(columns=['geometry_coordinates'])
bicimad_data.head()

,name,address,LONGITUD,LATITUD
0,Puerta del Sol A,Puerta del Sol nº 1,-3.701834,40.417214
1,Puerta del Sol B,Puerta del Sol nº 1,-3.701603,40.417313
2,Miguel Moya,Calle Miguel Moya nº 1,-3.705842,40.420589
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,-3.706917,40.430294
4,Malasaña,Calle Manuela Malasaña nº 5,-3.702587,40.428552

In [25]:
bicimad_data.head()

,name,address,LONGITUD,LATITUD
0,Puerta del Sol A,Puerta del Sol nº 1,-3.701834,40.417214
1,Puerta del Sol B,Puerta del Sol nº 1,-3.701603,40.417313
2,Miguel Moya,Calle Miguel Moya nº 1,-3.705842,40.420589
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,-3.706917,40.430294
4,Malasaña,Calle Manuela Malasaña nº 5,-3.702587,40.428552

In [26]:
## Obtenemos la columna Distancia con la función mercator 

## bicimad_data
#bicimad_data (distance_a)

## ayuntamiento_data
#bicimad_data (distance_b)

In [27]:
## Renombramos las columnas de nuestros 2 dataframes:

ayuntamiento_data = ayuntamiento_data.rename(columns={'location.latitude':'lat_start','location.longitude':'long_start','title':'Place of interest','address.street-address':'Place address'})
bicimad_data = bicimad_data.rename(columns={'LATITUD':'lat_finish',
                                            'LONGITUD':'long_finish',
                                            'name':'BiciMAD station','address':'Station location'})


# RENAME

In [28]:
### introducir valores en la columna distance con lambda
ayuntamiento_data["PUNTO A"] = ayuntamiento_data.apply(lambda x: to_mercator(x["lat_start"],x["long_start"]), axis = 1)
bicimad_data["PUNTO B"] = bicimad_data.apply(lambda x: to_mercator(x["lat_finish"],x["long_finish"]), axis = 1)

In [29]:
ayuntamiento_data.head()

,Place of interest,Place address,lat_start,long_start,Tipo_Centro,PUNTO A
0,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,40.488603,-3.652554,Colegios Publicos,POINT (4507170.6317725 -406876.1792826843)
1,Colegio Público Agustina Díez,Calle Vesubio 5,40.388191,-3.647237,Colegios Publicos,POINT (4495992.849193973 -406283.0125532466)
2,Colegio Público Agustín Rodriguez Sahagún,Calle La Granja De San Ildefonso 17,40.368040,-3.622168,Colegios Publicos,POINT (4493749.655446447 -403486.72151862)
3,Colegio Público Alberto Alcocer,Avenida Canillejas A Vicalvaro 56,40.433338,-3.612052,Colegios Publicos,POINT (4501018.577505093 -402358.4139760698)
4,Colegio Público Alcalde de Móstoles,Calle Aldeanueva De La Vera 9,40.379837,-3.776448,Colegios Publicos,POINT (4495062.882345807 -420696.9779405063)

In [30]:
## Unimos los dataset

dataset = pd.merge(ayuntamiento_data,bicimad_data,how="cross")
dataset.head(5)

,Place of interest,Place address,lat_start,long_start,Tipo_Centro,PUNTO A,BiciMAD station,Station location,long_finish,lat_finish,PUNTO B
0,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,40.488603,-3.652554,Colegios Publicos,POINT (4507170.6317725 -406876.1792826843),Puerta del Sol A,Puerta del Sol nº 1,-3.701834,40.417214,POINT (4499223.648366921 -412373.2851572837)
1,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,40.488603,-3.652554,Colegios Publicos,POINT (4507170.6317725 -406876.1792826843),Puerta del Sol B,Puerta del Sol nº 1,-3.701603,40.417313,POINT (4499234.670122574 -412347.498528782)
2,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,40.488603,-3.652554,Colegios Publicos,POINT (4507170.6317725 -406876.1792826843),Miguel Moya,Calle Miguel Moya nº 1,-3.705842,40.420589,POINT (4499599.340516399 -412820.3206106317)
3,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,40.488603,-3.652554,Colegios Publicos,POINT (4507170.6317725 -406876.1792826843),Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,-3.706917,40.430294,POINT (4500679.707306497 -412940.3068148262)
4,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,40.488603,-3.652554,Colegios Publicos,POINT (4507170.6317725 -406876.1792826843),Malasaña,Calle Manuela Malasaña nº 5,-3.702587,40.428552,POINT (4500485.866677178 -412457.3286497012)

In [31]:
## AÑADIMOS LA COLUMNA con el resultado de distance meters:

dataset['Distancia'] = dataset.apply(lambda x: distance_m(x["PUNTO A"], x["PUNTO B"]), axis = 1)

In [32]:
#Limpiamos las columnas que no necesitamos:

dataset = dataset.drop(['lat_start','long_start', 'long_finish', 'lat_finish'], axis='columns')

In [33]:
#Limpiamos las columnas que no necesitamos:(PUNTO A)
dataset = dataset.drop(['PUNTO A','PUNTO B'], axis='columns')

In [34]:
dataset.head()

,Place of interest,Place address,Tipo_Centro,BiciMAD station,Station location,Distancia
0,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Puerta del Sol A,Puerta del Sol nº 1,9662.955979
1,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Puerta del Sol B,Puerta del Sol nº 1,9639.233455
2,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Miguel Moya,Calle Miguel Moya nº 1,9625.864502
3,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,8882.890473
4,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Malasaña,Calle Manuela Malasaña nº 5,8708.347297

In [35]:

# limpieza de columnas
#dataset = dataset.drop(['lat_start','long_start', 'long_finish', 'lat_finish','PUNTO A','PUNTO B'], axis='columns')
# Renombramos las columnas

In [36]:
## Función que recibe "title" te devuleva (return) el resultado de la columna "name" en base a la distancia
#def minimum():
#    df_filter = df_sumary[df_sumary["Place of interest"] == input('Pon el lugar de interés: ')]
#    pre_minimum = df_filter[df_filter['Distance'] == df_filter['Distance'].min()]
#    minimum = pre_minimum[["Place of interest","Type of place","Place address","BiciMAD station","Station location","Distance"]]
#    return minimum

In [39]:

## Función que recibe el input ("title") y devuelve un solo resultado
df_filter = dataset[dataset["Place of interest"] == input('Pon el lugar de interés: ')]
pre_minimum = df_filter[df_filter['Distancia'] == df_filter['Distancia'].min()]
minimum = pre_minimum[["Place of interest","Tipo_Centro","Place address","BiciMAD station","Station location","Distancia"]]
minimum

Pon el lugar de interés: Escuela infantil municipal El Duende

,Place of interest,Tipo_Centro,Place address,BiciMAD station,Station location,Distancia
68651,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,San Andrés,Calle San Andrés nº 18,111.751361

In [ ]:
Escuela infantil municipal El Duende

In [40]:

## Función que recibe el input ("title") y devuelve todos los resultado
df_filter = dataset[dataset["Place of interest"] == input('Pon el lugar de interés: ')]
pre_total = df_filter[df_filter['Distancia'] == df_filter['Distancia']]
all_results = pre_total[["Place of interest","Tipo_Centro","Place address","BiciMAD station","Station location","Distancia"]]
all_results

Pon el lugar de interés: Escuela infantil municipal El Duende

,Place of interest,Tipo_Centro,Place address,BiciMAD station,Station location,Distancia
68640,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Puerta del Sol A,Puerta del Sol nº 1,1109.519151
68641,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Puerta del Sol B,Puerta del Sol nº 1,1106.399216
68642,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Miguel Moya,Calle Miguel Moya nº 1,704.815308
68643,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,468.780287
68644,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Malasaña,Calle Manuela Malasaña nº 5,296.381716
...,...,...,...,...,...,...
68899,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,3132.416907
68900,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,3105.040869
68901,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Facultad Biología,Calle José Antonio Novais frente al nº 12,3488.402108
68902,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Facultad Derecho,Avenida Complutense nº 23,3868.111987
68903,Escuela infantil municipal El Duende,Escuelas Infantiles,Plaza Dos De Mayo 2,Zurbano,Calle Zurbano nº 90,1839.895731

In [ ]:
### Resultado to CVS
def create_csv(df_result):
    df_csv = df_result.sort_values(by=Distancia, ascending=False)
    df_csv.to_csv('../data/labs_status.csv', index=False)
    return df_csv

create_csv (,Distancia)