In [1]:
import pandas as pd
import os
import numpy as np
import requests
import geopandas as gpd 
from shapely.geometry import Point

In [2]:
def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

def distance_m(mercator_start, mercator_finish):
    return mercator_start.distance(mercator_finish)


def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

In [3]:
#colegios_publicos_data = pd.read_csv("../data/colegios-publicos.csv", sep =';')
#escuelas_infantiles_data = pd.read_csv ("../data/escuelas-infantiles.csv", sep =';')
bicimad_data = pd.read_json("../data/bicimad.json")

In [4]:
os.listdir("../data")

['.DS_Store',
 'bicimad.json',
 'colegios-publicos.csv',
 'escuelas-infantiles.csv']

In [5]:
# Opción 2 : Extrayendo info de la API de colegios_publicos_data

colegios_publicos_data = requests.get('https://datos.madrid.es/egob/catalogo/202311-0-colegios-publicos.json')
colegios_publicos_data = colegios_publicos_data.json()

escuelas_infantiles_data = requests.get('https://datos.madrid.es/egob/catalogo/202318-0-escuelas-infantiles.json')
escuelas_infantiles_data = escuelas_infantiles_data.json()

bicimad_data = pd.read_json("../data/bicimad.json")

In [6]:
# Normalizamos el Json para obtener los datos de la tabla
colegios_publicos_data = pd.json_normalize(colegios_publicos_data['@graph'])

In [7]:
# Normalizamos el Json para obtener los datos de la tabla
escuelas_infantiles_data = pd.json_normalize(escuelas_infantiles_data['@graph'])

In [8]:
bicimad_data.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry_type,geometry_coordinates
0,1,Puerta del Sol A,2,1a,Puerta del Sol nº 1,1,0,30,15,11,0,Point,"[-3.7018341, 40.4172137]"
1,2,Puerta del Sol B,1,1b,Puerta del Sol nº 1,1,0,30,22,4,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,Miguel Moya,2,2,Calle Miguel Moya nº 1,1,0,24,12,11,0,Point,"[-3.7058415, 40.4205886]"
3,4,Plaza Conde Suchil,0,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,4,11,0,Point,"[-3.7069171, 40.4302937]"
4,5,Malasaña,2,4,Calle Manuela Malasaña nº 5,1,0,24,12,12,0,Point,"[-3.7025875, 40.4285524]"

In [9]:
escuelas_infantiles_data.head()

,@id,@type,id,title,relation,address.district.@id,address.area.@id,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,organization.organization-desc,organization.accesibility,organization.schedule,organization.services,organization.organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,58241,Escuela infantil municipal Agua Dulce,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28039,CALLE LEÑEROS 25,40.454061,-3.709371,ENSEÑANZA: Educación Infantil (Primer Ciclo) ...,0,,Horario ampliado. Comedor.,Escuela infantil municipal Agua Dulce
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4549323,Escuela infantil municipal Altair,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28044,CALLE JOSE DE CADALSO 43,40.378132,-3.768701,ENSEÑANZA: Educación infantil (Primer ciclo) ...,0,,,Escuela infantil municipal Altair
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5299172,Escuela infantil municipal Amanecer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28032,CALLE TITANIO 7,40.401990,-3.601044,ENSEÑANZA: Educación infantil (Primer Ciclo)....,0,,,Escuela infantil municipal Amanecer
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5633312,Escuela infantil municipal Ana de Austria,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28050,CALLE ANA DE AUSTRIA 32,40.495522,-3.655737,ENSEÑANZA: Educación infantil (Primer ciclo) ...,0,,Educación de 0 a 3 años,Escuela infantil municipal Ana de Austria
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4724002,Escuela infantil municipal Campanilla,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28020,CALLE AVILA 4,40.452700,-3.701998,ENSEÑANZA: Educación infantil (Primer Ciclo) ...,0,,,Escuela infantil municipal Campanilla

In [10]:
colegios_publicos_data.head()

,@id,@type,id,title,relation,address.district.@id,address.area.@id,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,organization.organization-desc,organization.accesibility,organization.schedule,organization.services,organization.organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,176850,Colegio Público Adolfo Suárez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28050,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,ENSEÑANZAS: Segundo ciclo de E. Infantil - Pr...,0,,Comedor - Horario ampliado - Planes de mejora.,Colegio Público Adolfo Suárez
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5075,Colegio Público Agustina Díez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28038,CALLE VESUBIO 5,40.388191,-3.647237,ENSEÑANZA: Educación infantil - Primaria METR...,0,,Comedor - Horario ampliado,Colegio Público Agustina Díez
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4693138,Colegio Público Agustín Rodriguez Sahagún,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28031,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,ENSEÑANZA: Educacion Infantil - Primaria - En...,0,,Horario ampliado - Comedor - Planes de mejora,Colegio Público Agustín Rodriguez Sahagún
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5076,Colegio Público Alberto Alcocer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28022,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,ENSEÑANZA: Educación Infantil - Primaria - En...,0,,Comedor - Transporte - Horario ampliado - Plan...,Colegio Público Alberto Alcocer
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5077,Colegio Público Alcalde de Móstoles,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28044,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,ENSEÑANZA: Educación Infantil - Primaria BUS:...,0,,Transporte - Comedor - Horario ampliado - Plan...,Colegio Público Alcalde de Móstoles

In [11]:
#Eliminamos columnas de Escuela infantiles:

escuelas_infantiles_data = escuelas_infantiles_data.drop(columns=["@id","@type","id","relation","address.district.@id","address.area.@id","address.locality","address.postal-code","organization.organization-desc","organization.accesibility","organization.schedule","organization.services","organization.organization-name"])
# "@id","@type","id","title","relation","address.district.@id","address.area.@id","address.locality","address.postal-code","address.street-address","location.latitude","location.longitude","organization.organization-desc","organization.accesibility","organization.schedule","organization.services","organization.organization-name"
escuelas_infantiles_data.head()

,title,address.street-address,location.latitude,location.longitude
0,Escuela infantil municipal Agua Dulce,CALLE LEÑEROS 25,40.454061,-3.709371
1,Escuela infantil municipal Altair,CALLE JOSE DE CADALSO 43,40.378132,-3.768701
2,Escuela infantil municipal Amanecer,CALLE TITANIO 7,40.401990,-3.601044
3,Escuela infantil municipal Ana de Austria,CALLE ANA DE AUSTRIA 32,40.495522,-3.655737
4,Escuela infantil municipal Campanilla,CALLE AVILA 4,40.452700,-3.701998

In [12]:
#Eliminamos columnas de colegios_publicos_data:

colegios_publicos_data = colegios_publicos_data.drop(columns=["@id","@type","id","relation","address.district.@id","address.area.@id","address.locality","address.postal-code","organization.organization-desc","organization.accesibility","organization.schedule","organization.services","organization.organization-name"])
#Comprobamos que no existan nulos:
colegios_publicos_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   248 non-null    object
 1   address.street-address  248 non-null    object
 2   location.latitude       248 non-null    float64
 3   location.longitude      248 non-null    float64
dtypes: float64(2), object(2)
memory usage: 7.9+ KB

In [13]:
colegios_publicos_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   248 non-null    object
 1   address.street-address  248 non-null    object
 2   location.latitude       248 non-null    float64
 3   location.longitude      248 non-null    float64
dtypes: float64(2), object(2)
memory usage: 7.9+ KB

In [14]:
# incluimos las columnas con la source en ambos dataset:
colegios_publicos_data = colegios_publicos_data.assign(Tipo_Centro = "Colegios Publicos")
escuelas_infantiles_data =escuelas_infantiles_data.assign(Tipo_Centro = "Escuelas Infantiles")
## colegios_publicos_data ["Tipo_Centro"] = "Colegios Publicos"
## escuelas_infantiles_data =["Tipo_Centro"] = "Escuelas Infantiles"

In [15]:
colegios_publicos_data.head()

,title,address.street-address,location.latitude,location.longitude,Tipo_Centro
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios Publicos
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegios Publicos
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegios Publicos
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegios Publicos
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegios Publicos

In [16]:
#Ahora queremos crear un solo dataset para todos los datos del ayuntamiento:
ayuntamiento_data= pd.concat([colegios_publicos_data, escuelas_infantiles_data], axis=0)
ayuntamiento_data.head()
#Comprobaciones:
#len_data = len (ayuntamiento_data)
#len_colegios = len (colegios_publicos_data)
#len_escuelas =len (escuelas_infantiles_data)

,title,address.street-address,location.latitude,location.longitude,Tipo_Centro
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegios Publicos
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegios Publicos
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegios Publicos
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegios Publicos
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegios Publicos

In [17]:
#Vamos a poner los datos de las direcciones en minusculas. 

ayuntamiento_data['address.street-address']=ayuntamiento_data['address.street-address'].str.title()

ayuntamiento_data.head()

,title,address.street-address,location.latitude,location.longitude,Tipo_Centro
0,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,40.488603,-3.652554,Colegios Publicos
1,Colegio Público Agustina Díez,Calle Vesubio 5,40.388191,-3.647237,Colegios Publicos
2,Colegio Público Agustín Rodriguez Sahagún,Calle La Granja De San Ildefonso 17,40.368040,-3.622168,Colegios Publicos
3,Colegio Público Alberto Alcocer,Avenida Canillejas A Vicalvaro 56,40.433338,-3.612052,Colegios Publicos
4,Colegio Público Alcalde de Móstoles,Calle Aldeanueva De La Vera 9,40.379837,-3.776448,Colegios Publicos

In [18]:
## NO NECESARIO CON API ##

# Ahora vamos a sustituir los valore NaN por 
# ayuntamiento_data['location.latitude'] = ayuntamiento_data['location.latitude'].replace(np.nan,"S/N")

In [19]:
## NO NECESARIO CON API ##

#Ahora queremos añadir una columna con los datos de NOMBRE-VIA, CLASE-VIAL y NUM.
## ayuntamiento_data["Place_address"] = ayuntamiento_data["CLASE-VIAL"] +" "+ ayuntamiento_data['NOMBRE-VIA']  + ", "+ ayuntamiento_data["NUM"].astype(str)

In [20]:
# Limpiamos dataset bicimad: 
# Eliminamos las columnas ['light',"number","activate","no_available","total_bases", "dock_bikes","free_bases","reservations_count","geometry_type"

bicimad_data = bicimad_data.drop(columns=['id','light',"number","activate","no_available","total_bases", "dock_bikes","free_bases","reservations_count","geometry_type"])

In [21]:
## Separamos la columna geometry_coordinates

#bicimad_data = bicimad_data["geometry_coordinates"].str.split()
#bicimad_data


bicimad_data['LONGITUD']=bicimad_data['geometry_coordinates'].map(lambda x:x.split(',')[0].replace("[","")).astype(float)
bicimad_data['LATITUD']=bicimad_data['geometry_coordinates'].map(lambda x:x.split(',')[1].replace("]","")).astype(float)

In [22]:
#Eliminamos Geometry_coordinates

bicimad_data = bicimad_data.drop(columns=['geometry_coordinates'])
bicimad_data.head()

,name,address,LONGITUD,LATITUD
0,Puerta del Sol A,Puerta del Sol nº 1,-3.701834,40.417214
1,Puerta del Sol B,Puerta del Sol nº 1,-3.701603,40.417313
2,Miguel Moya,Calle Miguel Moya nº 1,-3.705842,40.420589
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,-3.706917,40.430294
4,Malasaña,Calle Manuela Malasaña nº 5,-3.702587,40.428552

In [23]:
bicimad_data.head()

,name,address,LONGITUD,LATITUD
0,Puerta del Sol A,Puerta del Sol nº 1,-3.701834,40.417214
1,Puerta del Sol B,Puerta del Sol nº 1,-3.701603,40.417313
2,Miguel Moya,Calle Miguel Moya nº 1,-3.705842,40.420589
3,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,-3.706917,40.430294
4,Malasaña,Calle Manuela Malasaña nº 5,-3.702587,40.428552

In [24]:
## Obtenemos la columna Distancia con la función mercator 

## bicimad_data
#bicimad_data (distance_a)

## ayuntamiento_data
#bicimad_data (distance_b)

In [25]:
## Renombramos las columnas de nuestros dataframes:

ayuntamiento_data = ayuntamiento_data.rename(columns={'location.latitude':'lat_start','location.longitude':'long_start'})
bicimad_data = bicimad_data.rename(columns={'LONGITUD':'lat_finish','LATITUD':'long_finish'})

In [26]:
### introducir valores en la columna distance con lambda
ayuntamiento_data["PUNTO A"] = ayuntamiento_data.apply(lambda x: to_mercator(x["lat_start"],x["long_start"]), axis = 1)

bicimad_data["PUNTO B"] = bicimad_data.apply(lambda x: to_mercator(x["lat_finish"],x["long_finish"]), axis = 1)

In [27]:
## Unimos los dataset

dataset = pd.merge(ayuntamiento_data,bicimad_data,how="cross")

In [29]:
## AÑADIMOS LA COLUMNA con el resultado de distance meters:

dataset['Distancia'] = dataset.apply(lambda x: distance_m(x["PUNTO A"], x["PUNTO B"]), axis = 1)

AttributeError: 'DataFrame' object has no attribute 'distancia'

In [32]:
#Limpiamos las columnas que no necesitamos:

dataset = dataset.drop(['lat_start','long_start', 'long_finish', 'lat_finish' ], axis='columns')

In [34]:
#Limpiamos las columnas que no necesitamos:(PUNTO A)
dataset = dataset.drop(['PUNTO A','PUNTO B'], axis='columns')

In [35]:
dataset.head(10)

,title,address.street-address,Tipo_Centro,name,address,Distancia
0,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Puerta del Sol A,Puerta del Sol nº 1,7.255807e+06
1,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Puerta del Sol B,Puerta del Sol nº 1,7.255800e+06
2,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Miguel Moya,Calle Miguel Moya nº 1,7.256472e+06
3,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,7.257597e+06
4,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Malasaña,Calle Manuela Malasaña nº 5,7.257083e+06
5,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Fuencarral,Calle Fuencarral nº 108,7.257039e+06
6,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Colegio Arquitectos,Calle Hortaleza nº 63,7.256297e+06
7,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Hortaleza,Calle Hortaleza nº 75,7.256358e+06
8,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Alonso Martínez,Plaza de Alonso Martínez nº 5,7.256470e+06
9,Colegio Público Adolfo Suárez,Calle Infanta Catalina Micaela 31,Colegios Publicos,Plaza de San Miguel,Plaza de San Miguel nº 9,7.256213e+06

In [ ]:
## Función que con un "title" te devuleva (return) el resultado de la columna "name" en base a la distancia